.header {
    display: flex;
    justify-content: center;
}
.header_text_one {
    margin-left: 95px;
    margin-top: 30px;
    font-size: 45px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}
.header_text_two {
    margin-left: 95px;
    margin-top: 30px;
    font-size: 45px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}
.header_text_three {
    margin-left: 95px;
    margin-top: 30px;
    font-size: 45px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}
.icon {
    display: flex;
}
.h {
    font-size: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 55px;
    margin-left: 30px;
}
.header_img {
    width: 100px;
    margin-top: 23px;
}
.text_header_one {
    margin-top: 43px;
    margin-right: 100px;
}
.text_header_two {
    margin-top: 43px;
    margin-right: 100px;
}
.header_one {
    margin-left: 95px;
    margin-top: 30px;
    font-size: 45px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}
.header_two {
    margin-left: 95px;
    margin-top: 30px;
    font-size: 45px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}
.img {
    width: 70px;
    margin-top: 30px;
    margin-left: 50px;
}
.sleader {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}
.sleader_description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 95px;
    line-height: 37px;
    letter-spacing: 0.02em;
}
.sleader_h {
    font-size: 150px;
}
.sleader_text_description {
    display: block;
}
.sleader_text_h {
    display: block;
}
.sleader_btn {
    background: #D7B399;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.sleader_btn_text {
    font-size: 45px;
    padding-right: 50px;
    padding-left: 50px;
    color: #FFFFFF;
}
.sleader_img {
    height: 800px;
    margin-top: -95px;
    margin-left: 40px;
}
.sleader_prise_underline {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    text-align: right;
    letter-spacing: 0.05em;
    text-decoration-line: line-through;
    text-transform: uppercase;
    font-size: 65px;
}
.sleader_prise {
    font-size: 100px;
    color: #D84033;;
    margin-top: -35px;
}
.undersleader {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #212121;
    margin-top: 300px;
    height: 350px;
}
.undersleaderh {
    color: #FFFFFF;
    font-size: 50px;
}
.undersleadertext {
    color: #FFFFFF;
}
.kol {
    padding-top: 50px;
}
.lol {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: -40px;
}
